@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic: #533738;
  --basic-white: #ffffff;
  --accent-dark: #8D7370;
  --button: #CC8B86;
  --arrow: #F5F2ED;
  --white: #F6EDE9;
  --hover: rgb(100, 72, 69, 0.8);
  --accent-light: #E2C4BA;
  --bg: #EFE6E4;
  --white-60: rgba(255, 255, 255, 0.6);
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1440px;
  min-height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic);
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.main-header {
  position: relative;
}

.main-navigation::before {
  position: absolute;
  content: "";
  background-image: url("../img/dicoration/bunner.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 150px;
  width: 1400px;
  padding-bottom: 1000px;
  left: -100px;
  top: 0;
  z-index: -1;

}

.main-navigation {
  display: grid;
  grid-template-columns: 179px 842px 179px;
  padding-top: 36px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 86px;

}

.link-logo img {
  width: 91px;
  height: auto;
  margin: auto 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}


.main-navigation a {
  color: var(--basic);
  text-decoration: none;
}

.link:hover {
  /* color: var(--button); */
  text-shadow: 0 0 10px var(--hover);
}

.link:active,
.link:focus {
  /* background-color: var(--basic); */
  color: var(--button);
  outline-color: var(--white);
}

.contact-phone {
  font-size: 16px;
  line-height: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.title-center {
  text-align: center;
}

/* Bunner */

.bunner-disc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 233px;
  padding-left: 84px;
  width: 500px;

}

.title-bunner {
  font-size: 50px;
  line-height: 62px;
  text-transform: none;
  margin-bottom: 20px;
}

.bunner-disc p {
  margin: 0;
  margin-bottom: 25px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic);
  text-decoration: none;
  background-color: var(--button);
  border: none;
  padding: 25px 66px 24px 68px;
  cursor: pointer;
  outline-color: var(--white);
}

.btn:hover {
  box-shadow: 0px 0px 20px var(--hover);
}

.btn:active,
.btn:focus {
  background-color: var(--basic);
  color: var(--button);
}

/* About us */

.about-us {
  height: 576px;
}

.desc {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding-left: 509px;
  width: 528px;
  margin-bottom: 156px;
  margin-left: 82px;
}

.desc p {
  margin: 0;
  padding-bottom: 30px;
}

.desc::before {
  position: absolute;
  content: "";
  background-image: url("../img/dicoration/serv.jpg");
  background-repeat: no-repeat;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 465px;
}

/* Stat */

.stat-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 107px;
  padding: 85px 0px 81px 0px;
  margin: 0 80px 65px 80px;
  align-content: space-between;
  gap: 8px;
}

.stat-dt {
  font-size: 50px;
  line-height: 62px;
  width: max-content;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.stat-dd {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}

/* Portfolio */

.portfolio {
  margin-bottom: 65px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  margin-bottom: 30px;
}

.portfolio-item {
  position: relative;
  height: 451px;
  width: auto;
  margin-bottom: 10px;
}

.desc-hover {
  position: absolute;
  display: none;
  color: var(--basic-white);
  background-color: var(--hover);
  width: 100%;
  height: 100%;

}

.desc-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding: 0;
  margin: 0;
  margin-top: 86px;
  margin-bottom: 19px;
  text-align: center;
}

.desc-hover p {
  padding: 0 35px;
  margin: 0;
}

.link-more {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
  color: var(--basic);
  margin: 0 auto;
  width: 294px;
}

/* .link-more::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  width: 60px;
  height: 37px;
} */

.link-more:hover path {
  /* fill: var(--button);*/
  text-shadow: 0 0 10px var(--hover);
}

.link-more:active path,
.link-more:focus path {
  fill: var(--button);
}

.portfolio-item:hover .desc-hover {
  display: block;

}

/* Team */

.wrap-team {
  background-color: var(--accent-light);
  padding-top: 50px;
  margin-bottom: 65px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-bottom: 36px;
}

.team-item img {
  width: 320px;
  height: 253px;
}

.team-item p {
  width: 320px;
  margin: 0;
  /* margin-top: 10px; */
}

/* Procedure */

.procedure h2 {
  padding-left: 45px;
}

.procedure-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
}

.procedure-list li {
  width: 285px;
  counter-increment: list-counter;
}

.procedure-list li::before {
  display: flex;
  content: counter(list-counter);
  font-weight: 500;
  font-size: 30px;
  color: var(--basic-white);
  background-color: var(--accent-dark);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

/* Reviews */

.reviews {
  position: relative;
}

.reviews h2 {
  padding-left: 20px;
}

.reviews-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
}

.reviews-item {
  display: grid;
  grid-template-columns: 407px 407px;
  gap: 20px;
  justify-content: center;
}

.reviews-item blockquote {
  margin: auto 0;

}

.reviews-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.reviews-img-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.reviews-img-list li {
  width: 407px;
  height: 272px;
}

.reviews cite {
  text-transform: uppercase;
  font-style: normal;
}

.arrow {
  position: absolute;
  display: block;
  width: 72px;
  height: 72px;
  background-color: var(--button);
  font-size: 0;
  border-radius: 50%;
  background-image: url("../img/icon/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  top: 50%;
  margin-left: 82px;
  outline-color: var(--white);
}

.arrow-right {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  right: 0;
  margin-right: 82px;
}

.arrow:hover {
  box-shadow: 0px 0px 20px var(--hover);
}

.arrow:active,
.arrow:focus {
  background-color: var(--basic);
}

/* Request */

.request {
  width: 508px;
  height: 624px;
  background-image: url("../img/dicoration/map.png");
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 590px 624px;
  padding-left: 82px;
  padding-right: 611px;
}

.title-request {
  padding-top: 50px;
  margin-bottom: 24px;
}

.wrap {
  background-color: var(--accent-dark);
  color: var(--basic-white);
}

.request p {
  color: var(--white-60);
  margin: 0;
  margin-bottom: 40px;
}

.request-item {
  width: 508px;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--basic-white);
  font: inherit;
  margin-bottom: 31px;
  margin-top: 4px;
  outline-color: white;
  color: var(--white);
}

.request-item::placeholder {
  color: var(--white);
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 37px;
}

.footer a {
  text-decoration: none;
  color: var(--basic);
  margin: auto 42px auto 0;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer p:last-child {
  margin-left: auto;
}

.contact-phone-footer {
  font-size: 18px;
  line-height: 30px;
}